#recipe_link {
    background: red;
}

a:link{
    font-size: 2.5em;
}

/* On ne sélectionne que les links de type ecette (qui affichent un chiffre) */
a.recipe_link:link {
    padding: 1em; /* Pour que les côtés des cases ne soient pas collés au texte */ 
    margin-top: 0.5em; /* Pour séparer les cases */
    color: rgb(180, 13, 7);
    background-color: rgba(223, 227, 230);

    border: 0.1em solid rgb(255, 255, 255);
    border-radius: 1em;
    font-size: 2.5em;

    text-align: center;
    text-decoration: none; /* Pour ne pas souligner */
    display: flex;
    justify-content: center;
    align-items: center;
}

a.recipe_link {
    width: 50px;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 400px){
    a.recipe_link {
        width: 10px;
        height: 10px;
    }
}

a.recipe_link:visited {
    background-color: rgb(145, 129, 67);
    color: rgb(255, 255, 255);

    border: 0.1em solid rgb(255, 255, 255);
    border-radius: 1em;
}
  
a.recipe_link:hover, a.recipe_link:active {
    background-color: rgb(145, 129, 67);
    color: rgb(255, 255, 255);
}