@font-face {
    font-family: 'Tahu!';
    src: url('../Tahu!.ttf');}
@font-face {
    font-family: 'RobotoBold';
    src: url('../roboto/Roboto-Bold.ttf');}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../roboto/Roboto-Regular.ttf');}

body{
    background-color: rgb(212, 204, 202);
    font-family: 'RobotoRegular';
    margin-left: 1em;
    margin-right: 1em; /* Marge générale de la page */
    color:rgb(60, 87, 34);
}

p{
    text-align: center;
    color:black;
    font-size: 2em;
}

h1{ /* Titre du jour */
    font-size:4em;
    text-align:center;
    color:rgb(60, 87, 34);
    font-family: 'Tahu!';
}
h2 h3 h4{
    font-family: 'RobotoBold';
}
h2{ /* Nom recette */
    font-size:2em;
    text-align:center;
    color:rgb(180, 13, 7);

    border: 0.1em solid rgb(255, 255, 255);
    border-radius: 1em;
    background-color: rgba(223, 227, 230);
}
h3{ /* Ingredients */
    font-size:1.5em;
    text-decoration: underline;
}
h4{ /* Preparation */
    font-size:1.5em;
    text-align:left;
    text-decoration: underline;
}

.ingredients{
    color:rgb(145, 129, 67);
    float: left; 
    width: 20em; 
    /* Je ne fixe pas la hauteur sinon il déborde */
    margin-left: 2em;
    padding-left: 2em;
    padding-bottom: 0.5em;

    border: 0.2em solid rgb(255, 255, 255);
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
}

.flottant
{
    float: left; /*pour que l'image soit à gauche du texte*/
    width: 20em;
    height: 20em;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    }

.preparation{
    clear: both; /*pour que l'autre paragraphe ne subisse pas se décalage*/
    padding-top: 1em;
    color:rgb(180, 13, 7);
}

footer
{
    text-align:center;
    width:100%;
    display:inline-block;
    font-size:1em;
}